.container-small-card{
  width: 100%;
  margin-bottom: 15px;
}

.container-small-card-content{
  display: flex;
  flex-direction: row;
}

.small-card-photo > img {
  width: 320px;
  min-width: 320px;
  margin-right: 20px;
}

.small-card-description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-small-card-separator{
  margin-top: 15px;
}
