<div class="big-card-container">
  <div class="big-card-photo">
    <img
    src="https://avatars.githubusercontent.com/u/108693118?v=4"
    alt=""
    height="300px"
    srcset=""
    >
  </div>
  <div class="big-card-title">
    <h1><a href="#">Olá, meu nome é Thaila</a></h1>
  </div>
  <div class="big-card-description">
    <p>Atualmente, estou participando do Bootcamp Santander Full-Stack Java e Angular.
      Formada recentemente pelo Bootcamp Labenu, com conhecimento nas tecnologias HTML, CSS, Javascript, React, Node.JS, Typescript e SQL e desenvolvimento de projetos.
      Também sou graduada em Administração pelo Centro Universitário Toledo Presidente Prudente, com pós graduação em Controladoria e Gestão financeira no Centro Universitário Toledo Presidente Prudente.
      Como experiências anteriores, trabalhei no Sicoob Credivale, como analista de crédito e também como agente de atendimento e no Restaurante Franchescco como gerente administrativa.
      Busco oportunidade na área de programação, pois foi onde me identifiquei e encarei o desafio de mudar de área profissional.</p>
  </div>
</div>
